@import "../color";

.progressbar {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    .progress-text {
        font-family: Andale Mono, monospace;
        margin-bottom: 5px;
        color: $text-color;
    }
    .p-progressbar {
        height: 0.5rem;
        &-value {
            background: $selected-color;
        }
        
    }
}