.render-questions {
    width: 100%;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: flex-grow;
    .questions-title {
        margin-top: 5px;
        margin-bottom: 20px;
        color: $text-color;
        border: 1px solid orange;
    }
    .questions {
        width: 100%;
        // height: 20vh;
        border: 1px solid orange;
        .short-answer {
            width: 80%;
            margin: auto;
        }
        .checkbox {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            width: 342px;
            .option {
                margin: 10px;
                width: 150px;
                height: 50px;
                background: white;
                color: $text-color;
                outline: none;
                transition: box-shadow 0.3s ease;
                &.selected {
                    border: none;
                    box-shadow: 0 0 0 3px $selected-color;
                }
            }
        }
    }
}