.render-questions {
    width: 100%;
    margin: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: flex-grow;
    .questions-title {
        margin-top: 5vh;
        margin-bottom: 20px;
        color: $text-color;
    }
    .questions {
        border: 1px solid green;
        width: 100%;
        height: 20vh;
        padding: 5px 0px 5px 0px;
        .short-answer {
            height: 100%;
            width: 80%;
            margin: auto;
        }
        .checkbox {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 80%;
            margin: auto;
            .option {
                padding: 10px;
                margin: 10px;
                background: white;
                color: $text-color;
                outline: none;
                transition: box-shadow 0.3s ease;
                border: 2px solid $secondary-color;
                cursor: pointer;
                &.selected {
                    border: 1px solid rgba($selected-color, 0.7);
                    box-shadow: 0 0 10px rgba($selected-color, 0.7);
                }
            }
        }
    }
}