@import "../color";

.top-message {
    width: 100%;
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Gabarito', 'cursive';
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &-a {
        margin-right: 5px;
    }
    &-b {
        color: $primary-color-light;
        margin-right: 5px;
    }
    &-c {
        color: $primary-color;
        margin-right: 5px;
    }
    &-me {
        font-size: 1rem;
        color: $card-bg;
        flex-grow: 1;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .form-title {
        font-size: 1rem;
        font-family: 'Roboto Slab', sans-serif;
    }
}