$primary-color: #6366F1;
$secondary-color: #F2F2F2;
$emphasize-color: #ff3300;
$bg-color: #888888;
$card-bg: #ffffff;
$error-color: #B22222;
$text-color: #495057;
$primary-color-light: #B1B3F8;
$selected-color: #32d2e4;