@import "./color";
@import "./display/display-container";
@import "./display/progressbar";
@import "./display/questions";
@import "./display/stepButtons";
@import "./font";
@import "./display/topMessage";
@import "./display/bottomMessage";

* {
    box-sizing: border-box;
}

.questionnaire-background {
    height: 100%;
    background: $primary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}