@import "./color";

.questionnaire-background {
    height: 100%;
    background: $primary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.display-container {
    width: 85%;
    height: 85%;
    background: $card-bg;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shortAnswer-display {
        margin-top: 100px;
        width: 300px;
        display: flex;
        flex-direction: column;
    }
}