@import "./color";

.forms-container {
    padding: 20px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    border-radius: 0 0 10px 10px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid silver;
    background-color: rgba(222, 230, 231, 0.8);

    .p-form-container {
        margin-bottom: 1rem;
        z-index: 10;
        border: 2px solid grey;
        border-radius: 5px;
        width: 400px;

        .p-form-index {
            margin: 5px;
            margin-bottom: 0;
            font-size: 12px;
        }
        
        .p-field {
            font-size: 18px;
            padding: 5px;
            margin: 10px;
            border-width: 0;
            border-radius: 0.1;
            width: 350px;
            border-color: dimgray;
        }

        .multiple-choice-list,.radio-button-list {
            .choice,.radio-button  {
                margin: 0.6rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 30px;
                label {
                    flex-grow: 1;
                }
                .remove-option-button {
                    display: none;
                    height: 20px;
                    width: 20px;
                    background: white;
                    color: orangered;
                    border: 1px solid $primary-color;
                    border-radius: 5px;
                }
                &:hover {
                    .remove-option-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    background: rgba(red($bg-color), green($bg-color), blue($bg-color), 0.1);
                }
            }
        }
    }  

    .checkbox-input {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 5px;
        
        .p-field {
            font-size: 14px;
            padding: 5px;
            margin: 5px;
            margin-right: 10px;
            border: 1px solid $bg-color;
            border-radius: 5px;
            width: 180px;
        }

        .control-button,.control-button-close {
            height: 10px; 
            margin-right: 8px;
            width: 30px;
            background-color: transparent;
            &:hover {
                .p-button-icon {
                    color: white;
                }
            }
        }

        .control-button {
            .p-button-icon {
                color: $primary-color;
            }
        }

        .control-button-close {
            .p-button-icon {
                color: orangered;
            }
        }
    }

    .validator-message-option {
        margin-left: 12px;
        color: $error-color;
        font-size: 12px;
    }
    
    
    .control-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        .control-button {
            height: 10px; 
            margin-right: 8px
        }

        .control-switch {
            margin-right: 5px;
        }

        %required {
            background: green;
            color: white;
            padding: 5px 8px 5px 8px;
            font-size: 14px;
            
        }

        .required-checked {
            @extend %required;
            border-radius: 5px;
        }

        .required-unchecked {
            @extend %required;
            color: grey;
            background: none;
        }
    }

    .add-button {
        z-index: 10;
        :hover {
            cursor: pointer;
            color: grey;
        }
    }
    
    .add-option-button {
        z-index: 10;
        height: 10px;
        margin: 0 0 5px 8px;
    }
}