// background
.content {
    height: auto;
    position: relative;
    padding-top: 20px;
    img {
        /* Set rules to fill background */
        min-height: 100%;
            
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
            
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;

        pointer-events: none;
    }
}

.content-display {
    position: fixed;
    left: 0;
    top: 56px;
    height: calc(100vh - 56px);
    width: 100%;
}

// override the tabview
.p-tabview-nav-container {
    z-index: 1000;
    width: 100%;
    position: fixed !important;
    top: 0;
}
