// background
.content {
    position: fixed;
    left: 0;
    top: 56px;
    height: calc(100vh - 56px);
    width: 100%;
    overflow-y: auto;
    background-image: url('/images/pro-5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.content-display {
    position: fixed;
    left: 0;
    top: 56px;
    height: calc(100vh - 56px);
    width: 100%;
}

// override the tabview
.p-tabview-nav-container {
    z-index: 1000;
    width: 100%;
    position: fixed !important;
    top: 0;
}

