
.forms-container {
    padding: 20px;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    margin: auto;
    border: 2px solid white;
    background-color: #888888;

    .p-form-container {
        z-index: 10;
        margin: 10px;
        margin-bottom: 1.5rem;
        border: 2px solid white;
        border-radius: 5px;
        background-color: snow;
        opacity: 0.9;
        width: 400px;
        
        .p-form-index {
            position: absolute;
            padding: 5px 0 0 10px;
            font-size: 12px;
        }
        
        .p-field {
            font-size: 18px;
            padding: 5px;
            margin: 15px 10px 10px 10px;
            border-width: 0 0 2px 0;
            background: none;
            border-radius: 0;
            width: 350px;
            border-color: dimgray;
        }

        .radio-button-list {
            .radio-button {
                margin: 0.6rem;
                .remove-option-button {
                    display: none;
                    height: 20px;
                    width: 20px;
                    background: white;
                    color: orangered;
                    border: 1px solid #6366F1;
                    border-radius: 5px;
                    margin-right: 30px;
                    float: right;   
                }
                &:hover {
                    .remove-option-button {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .multiple-choice-list {
            .choice {
                margin: 0.6rem;
                .remove-option-button {
                    display: none;
                    height: 20px;
                    width: 20px;
                    background: white;
                    color: orangered;
                    border: 1px solid #6366F1;
                    border-radius: 5px;
                    margin-right: 30px;
                    float: right;   
                }
                &:hover {
                    .remove-option-button {
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }  

    .checkbox-input {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-left: 5px;
        
        .p-field {
            font-size: 14px;
            padding: 5px;
            margin: 5px;
            margin-right: 10px;
            border: 1px solid #888888;
            border-radius: 5px;
            width: 180px;
        }

        .control-button,.control-button-close {
            height: 10px; 
            margin-right: 8px;
            width: 30px;
            background-color: transparent;
            &:hover {
                .p-button-icon {
                    color: white;
                }
            }
        }

        .control-button {
            .p-button-icon {
                color: #6366F1;
            }
        }

        .control-button-close {
            .p-button-icon {
                color: orangered;
            }
        }
    }
    
    
    .control-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        .control-button {
            height: 10px; 
            margin-right: 8px
        }

        .control-switch {
            margin-right: 5px;
        }

        %required {
            background: green;
            color: white;
            padding: 5px 8px 5px 8px;
            font-size: 14px;
            
        }

        .required-checked {
            @extend %required;
            border-radius: 5px;
        }

        .required-unchecked {
            @extend %required;
            color: gray;
            background: none;
        }
    }

    .add-button {
        z-index: 10;
        :hover {
            cursor: pointer;
            color: grey;
        }
    }
    
    .add-option-button {
        z-index: 10;
        height: 10px;
        margin: 0 0 5px 8px;
    }
}

// background
.content {
    height: auto;
    position: relative;
    padding-top: 20px;
    img {
        /* Set rules to fill background */
        min-height: 100%;
            
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
            
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;

        pointer-events: none;
    }
}

// override the tabview

.p-tabview-panels {
}

.p-tabview-nav-container {
    z-index: 1000;
    width: 100%;
    position: fixed !important;
    top: 0;
}